<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>CourageManageServlet</servlet-name>
        <servlet-class>com.webapp.servlet.CourageManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJobServlet</servlet-name>
        <servlet-class>com.webapp.servlet.DeleteJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUserServlet</servlet-name>
        <servlet-class>com.webapp.servlet.ModifyUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.webapp.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.webapp.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.webapp.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJobServlet</servlet-name>
        <servlet-class>com.webapp.servlet.SearchJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.webapp.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyServlet</servlet-name>
        <servlet-class>com.webapp.servlet.ApplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>com.webapp.servlet.JobDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>com.webapp.servlet.ManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudyServlet</servlet-name>
        <servlet-class>com.webapp.servlet.StudyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDeleteServlet</servlet-name>
        <servlet-class>com.webapp.servlet.MemberDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/user_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJobServlet</servlet-name>
        <url-pattern>/job_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUserServlet</servlet-name>
        <url-pattern>/user_modify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostJobServlet</servlet-name>
        <servlet-class>com.webapp.servlet.PostJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuitServlet</servlet-name>
        <servlet-class>com.webapp.servlet.QuitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.webapp.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCourseServlet</servlet-name>
        <servlet-class>com.webapp.servlet.PostCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServlet</servlet-name>
        <servlet-class>com.webapp.servlet.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseServlet</servlet-name>
        <servlet-class>com.webapp.servlet.SearchCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/user_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJobServlet</servlet-name>
        <url-pattern>/job_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJobServlet</servlet-name>
        <url-pattern>/job_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuitServlet</servlet-name>
        <url-pattern>/quit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyServlet</servlet-name>
        <url-pattern>/apply-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/job_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseServlet</servlet-name>
        <url-pattern>/course_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCourseServlet</servlet-name>
        <url-pattern>/course_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet</servlet-name>
        <url-pattern>/course_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudyServlet</servlet-name>
        <url-pattern>/study</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDeleteServlet</servlet-name>
        <url-pattern>/member_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourageManageServlet</servlet-name>
        <url-pattern>/courage_manage</url-pattern>
    </servlet-mapping>
</web-app>
